﻿<div class="jumbotron">
    <h1>Agrizon</h1>   
    <div id="opShow"></div>
</div>

<script type="text/javascript">

    function bind() {
        var url = "https://localhost:44344/api/profile/1";
        var _htmlSector = '';        
        $.ajax({
            url: url,
            dataType: "json",
            type: 'GET',
            success: function (data) { 
                _details = data;
                if (typeof (_details) !== 'undefined') {
                    $.each(_details, function (i, object) {
                        alert(object.mobile);
                        _htmlSector += object.mobile + '<br/>';
                    });
                }
               $('#opShow').html(_htmlSector);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }


</script>

